@use 'vars';

.header {
  font-family: "Exo-Bold";
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
  background: white;
  letter-spacing: 0.1rem;
  align-items: center;
  font-size: 1.7rem;
  justify-content: space-around;
  border-bottom: 1px solid vars.$colorSeagale;
}

.header-link {
  color: vars.$colorSeagale;
  text-decoration: none;
  transition: color 0.3s ease;
}

.header-link:hover {
  background-color: vars.$colorSeagale;
  color: white;
  padding: 20px 30px;
  border-radius: 5px;
}

.header-link-active {
  background-color: vars.$colorSeagale;
  color: white;
  padding: 20px 30px;
  border-radius: 5px;
}
