@use 'vars';



.jacky table {
  width: 70%;
  border-collapse: collapse;
  margin: 3rem auto;
}

.jacky th, td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
}

.jacky th {
  background-color: #f1f1f1;
}

.print-button {
  display: flex;
  margin: 3rem auto 0;
  justify-content: center;
}

.print-button button {
  font-family: "Exo";
  font-size: 1rem;
  padding: 10px 20px;
  background-color: #F1F1F1;
  color: vars.$colorSeagale;
  border-radius: 10px;
  margin: 0.5rem 0;
  border: 1px solid vars.$colorSeagale;
  cursor: pointer;
}

.jacky-title {
  display: flex;
  font-size: 1.5rem;
  font-family: "Exo-Bold";
  margin: 2rem auto 0;
  justify-content: center;
} 
 