@use 'vars';

.orders {
  color: vars.$colorSeagale;
}

.orders-title {
  text-align: center;
  font-size: 2rem; 
  margin: 40px 0px 30px;
}

.customer-name {
  font-size: 0.8rem;
  font-weight: normal;
}

.toggle-icon {
  width: 24px;
  height: 24px; 
  vertical-align: middle;
 padding: 0;
 border: none;
 background: none;
}

.product-quantity {
  display: inline; 
  margin-right: 15px; 
}

.order-id > strong {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.order-id {
  font-size: 0.8rem;
  margin-bottom: 10px;
}



.order-meta {
  text-align: right;
}

.order-status {
  display: flex;
  align-items: center;
}

.order-price {
  color: rgb(105, 105, 105);
  font-weight: bold;
  margin-bottom: 10px;
}

.order-date {
  font-size: smaller;
  color: rgb(105, 105, 105);
}

.order-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  padding: 20px;
  margin-top: 10px;
}



.order-details-item {
  display: flex; 
  align-items: center; 
  margin: 5px 0; 
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid black;
}

.order-details-item-img {
  flex-shrink: 0; 
  width: 100px; 
  height: 100px;
  margin-right: 10px; 
}

.order-details-item-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}


.order-details-item > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.order-label {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0px;
}

input {
 padding: 10px 5px;
 border: 2px solid #f2f2f2;
 background-color: white;
 color: vars.$colorSeagale;
 font-family: 'Exo-bold';
 font-size: 0.8rem;
 max-width: 120px;
}

.id-input {
  max-width: 50px;
}

.input-date {
  margin-bottom: 10px;
}

.input-date-div {
  max-width: 180px;
}

.order-row.expanded {
  background-color: #f2f2f2; 
}

.order-items {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.item {
  margin: 20px;
}

.item-name {
  font-weight: bold;
  font-size: 1rem;
}

.item-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.item-sku {
  font-size: 0.8rem;
}

.item-id {
  font-size: 0.8rem;
}

.item-quantity {
  font-size: 1rem;
  font-weight: bold;
}

.shipping-details {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  width: 30%;
}

.shipping-address span{
  font-weight: bold;
}

.shipping-method {
  margin-top: 2rem;
}

.shipping-method span{
  font-weight: bold;
}

.etiquette-button {
  font-family: 'Exo-bold';
  padding: 10px;
  margin-right: 50px;
  color: white;
  background-color: vars.$colorSeagale;
  border-radius: 5px;
  cursor: pointer;
}

.etiquette-button:hover {
  scale: 1.1;
}


table {
  max-width: 90%;
  margin: 2rem auto; 
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
  border-radius: 5px; 
  overflow: hidden; 
}

th {
  background-color: vars.$colorSeagale; 
  color: white;
  padding: 20px 10px;
  font-family: 'Exo-bold';
}

.th2 {
  background-color: #15184c1c;
  vertical-align: middle;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2; 
}

tbody tr:nth-child(odd) {
  background-color: #ffffff; 
}

tbody tr.even {
  background-color: #f2f2f2; 
}

tbody tr.odd {
  background-color: #ffffff; 
}

td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
}

th, td {
  text-align: center;
}

.session-name {
  font-family: 'exo-bold';
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.page-symbol, .page-number {
  padding: 10px;
  margin: 0 5px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.4rem;
  font-family: 'exo';
  color: vars.$colorSeagale;
}

.page-number:hover, .page-symbol:hover {
  text-decoration: underline;
}

.page-number.active {
  font-weight: bold;
  text-decoration: underline;
}

.page-nav {
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.5rem;;
  color: vars.$colorSeagale;
}

.page-nav:disabled {
  color: #ccc; 
  cursor: not-allowed;
}

.checkbox-select {
  transform: scale(1.7); 
  accent-color: vars.$colorSeagale;
}

.checkbox-selectAll {
  transform: scale(2.3); 
  accent-color: vars.$colorSeagale;
}


.filter-pagination-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
}

.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}

.filter-container label {
  font-family: 'exo';
  font-size: 1.1rem;
  margin: 30px 0 10px;
}

.filter-select {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Exo';
  font-size: 1rem;
  width: 120px;
  padding: 8px 0;
  border: 2px solid #f2f2f2;
  background-color: white;
}

.middle-button {
  background-color: vars.$colorSeagale;
  font-size: 1.2rem;
  font-family: 'exo-bold';
  letter-spacing: 1px;
  color: white;
  padding: 15px 40px;
  cursor: pointer;
  border-radius: 5px;
}

.session-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30%;
  min-height: 30%;
  transform: translate(-50%, -50%);
  border: 2px solid vars.$colorSeagale;
  border-radius: 5px;
  background: white;
  padding: 50px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.session-modal h2 {
  font-size: 2rem;
  font-family: "Exo-bold";
  color: vars.$colorSeagale;
}

.session-modal input {
  font-size: 1.1rem;
  margin: 2rem;
  padding: 1rem 2rem;
  font-family: "Exo";
  color: vars.$colorSeagale;
  max-width: 250px;
}

.session-modal p {
  font-family: "Exo-bold";
  color: vars.$colorSeagale;
}

.session-modal button {
  font-family: "Exo-bold";
  background-color: white;
  color: vars.$colorSeagale;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.session-modal button:hover {
  background-color: vars.$colorSeagale;
  color: white;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.822); 
  z-index: 999; 
}

.orders-per-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; 
}

.ordersPerPage {
  border: none;
  color: vars.$colorSeagale;
  cursor: pointer;
  padding: 10px; 
  background-color: transparent; 
}

.ordersPerPage option{
  font-size: 1.2rem;
  font-family: 'exo';
}

select.ordersPerPage{
  font-size: 1.2rem;
  font-family: 'exo';
}


.orders-per-page-label {
  margin-right: 10px; 
  color: vars.$colorSeagale; 
}


//* LOADER

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  display: inline-block;
  width: 100px;
  height: 100px;
  animation: heartbeat 1s ease-in-out infinite;
}

@keyframes heartbeat {
  0%, 100% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
}