@use 'vars';

.customer-name {
  font-size: 0.8rem;
  font-weight: normal;
}

.toggle-icon {
  width: 24px;
  height: 24px; 
 vertical-align: bottom;
 padding: 0;
 border: none;
 background: none;
}

.product-quantity {
  display: inline; 
  margin-right: 15px; 
}

.order-id > strong {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.order-id {
  font-size: 0.8rem;
  margin-bottom: 10px;
}



.order-meta {
  text-align: right;
}

.order-status {
  display: flex;
  align-items: center;
}

.order-price {
  color: rgb(105, 105, 105);
  font-weight: bold;
  margin-bottom: 10px;
}

.order-date {
  font-size: smaller;
  color: rgb(105, 105, 105);
}

.order-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  padding: 20px;
  margin-top: 10px;
}



.order-details-item {
  flex: 1;
  margin: 5px;
  padding: 10px;
  background-color: #f9f9f9; 
  border-radius: 5px; 
  border: 1px solid black; 
  max-width: calc(25% - 10px); 
}


.order-details-item > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.order-label {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0px;
}

input {
 padding: 10px 5px;
 border: 2px solid #f2f2f2;
 background-color: #15184c00;
 color: vars.$colorSeagale;
 font-family: 'Exo-bold';
 font-size: 0.8rem;
}

.input-date {
  margin-bottom: 10px;
}

.order-row.expanded {
  background-color: #f2f2f2; 
}

.order-items {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.item {
  margin: 20px;
}

.item-name {
  font-weight: bold;
  font-size: 1rem;
}

.item-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.item-sku {
  font-size: 0.8rem;
}

.item-id {
  font-size: 0.8rem;
}

.item-quantity {
  font-size: 1rem;
  font-weight: bold;
}

.shipping-details {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  width: 30%;
}

.shipping-address span{
  font-weight: bold;
}

.shipping-method {
  margin-top: 2rem;
}

.shipping-method span{
  font-weight: bold;
}

.etiquette-button {
  font-family: 'Exo-bold';
  padding: 10px;
  margin-right: 50px;
  color: white;
  background-color: vars.$colorSeagale;
  border-radius: 5px;
  cursor: pointer;
}

.etiquette-button:hover {
  scale: 1.1;
}


table {
  max-width: 90%;
  margin: 2rem auto; 
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
  border-radius: 5px; 
  overflow: hidden; 
}

th {
  background-color: vars.$colorSeagale; 
  color: white;
  padding: 20px 15px;
  font-family: 'Exo-bold';
}

.th2 {
  background-color: #15184c31;
  vertical-align: middle;
}

tr:nth-child(even) {
  background-color: #f2f2f2; 
}

tr:nth-child(odd) {
  background-color: #ffffff; 
}

td {
  padding: 10px;
  text-align: left;
}

th, td {
  text-align: center;
}



.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.page-symbol, .page-number {
  padding: 10px;
  margin: 0 5px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.page-number:hover, .page-symbol:hover {
  text-decoration: underline;
}

.page-number.active {
  font-weight: bold;
  text-decoration: underline;
}

.page-nav {
  padding: 10px;
  margin: 0 5px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #000; 
}

.page-nav:disabled {
  color: #ccc; 
  cursor: not-allowed;
}

.checkbox-select {
  transform: scale(1.7); 
  accent-color: vars.$colorSeagale;
}

.checkbox-selectAll {
  transform: scale(2.3); 
  accent-color: vars.$colorSeagale;
}
