@use 'vars';

.table-preparation td {
  border: 1px solid #ccc;
  background-color: white;
}

.table-preparation th {
  border: 1px solid #ccc;
}

.problem-message {
  color: white;
  background-color: rgb(207, 54, 54);
  padding: 20px 150px;
}

.table-preparation .problematic {
  background-color: rgb(207, 54, 54); 
  color: white;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 50px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}