@use 'vars';


.table-preparation td {
  background-color: white;
  border-bottom: 1px solid #ccc;
}

.problematic-row {
  background-color: red;
}

.size-column {
  border-left: 1px solid #ccc; 
}

.table-preparation .group-end {
  border-bottom: 2px solid #000;
}

.table-preparation .metafield-separator td {
  border-bottom: 2px solid #000;
  padding: 0;
  height: 2px;
}