@use 'vars';

.sessions-header {
  border-top: 1px solid white;
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-color: vars.$colorSeagale;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.sessions-header button {
  font-family: "Exo-bold";
  font-size: 1.2rem;
  padding: 20px;
  background-color: #F1F1F1;
  color: vars.$colorSeagale;
  border-radius: 10px;
  margin: 0.5rem 0;
  border: 2px solid transparent;
  cursor: pointer;
}

.sessions-orders {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F1F1F1;
  padding: 15px 30px;
  margin-top: 3px;
  margin-bottom: 0;
}

.sessions-orders-id > strong {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.sessions-orders-id {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.sessions-orders-price {
  color: rgb(105, 105, 105);
  font-weight: bold;
  margin-bottom: 10px;
}

.sessions-orders-date {
  font-size: smaller;
  color: rgb(105, 105, 105);
}

.sessions-header button:active {
  border-color: vars.$colorSeagale;
}

.session-checkbox {
 cursor: pointer;
 transform: scale(1.6);
}

.session-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30%;
  min-height: 30%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 50px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.session-modal h2 {
  font-size: 2rem;
  font-family: "Exo-bold";
  color: vars.$colorSeagale;
}

.session-modal input {
  font-size: 1.1rem;
  margin: 2rem;
  padding: 1rem 2rem;
  font-family: "Exo";
  color: vars.$colorSeagale;
}

.session-modal p {
  font-family: "Exo-bold";
  color: vars.$colorSeagale;
}

.session-modal button {
  font-family: "Exo-bold";
  background-color: white;
  color: vars.$colorSeagale;
  margin: 2rem;
  padding: 10px 20px;
  border-radius: 5px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
}