@use 'vars';

.sessions-table {
  width: 80%;
}

.session-date {
  width: 150px;
}

.sessions input {
  padding: 10px 5px;
  border: 2px solid #f2f2f2;
  background-color: white;
  color: vars.$colorSeagale;
  font-family: 'Exo-bold';
  font-size: 0.8rem;
  max-width: 150px;
 }

 .session-date input:nth-child(1) {
  margin-bottom: 10px;
 }

 .sessionsPerPage-div {
  display: flex;
  justify-content: center; 
  align-items: center;  
  margin-top: 20px;
  width: 100%;
}
